$color-primary: #0e77e8;

/* Color */
.le-color-primary {
    color: $color-primary;
}
.le-color-lightgray {
    color: lightgray;
}
.le-color-white {
    color: white !important;
}
.le-color-black {
    color: black !important;
}
.le-color-gray {
    color: gray !important;
}