.le-cursor-auto {
  cursor: auto;
}
.le-cursor-default {
  cursor: default;
}
.le-cursor-pointer {
  cursor: pointer;
}
.le-cursor-wait {
  cursor: wait;
}
.le-cursor-text {
  cursor: text;
}
.le-cursor-move {
  cursor: move;
}
.le-cursor-not-allowed {
  cursor: not-allowed;
}