.le-display-inline {
  display: inline;
}
.le-display-block {
  display: block;
}
.le-display-flex {
  display: flex;
}
.le-display-grid {
  display: grid;
}
.le-display-none {
  display: none !important;
}
.le-display-webkit-box {
  display: -webkit-box;
}
