.le-overflow-auto {
  overflow: auto !important;
}
.le-overflow-hidden {
  overflow: hidden !important;
}
.le-overflow-scroll {
  overflow: scroll !important;
}
.le-overflow-y-scroll{
  overflow-y: scroll;
}
.le-overflow-x-scroll{
  overflow-x: scroll;
}
.le-overflow-y-hidden{
  overflow-y: hidden;
}
.le-overflow-x-hidden{
  overflow-x: hidden;
}