.le-position-static {
  position: static;
}
.le-position-relative {
  position: relative;
}
.le-position-absolute {
  position: absolute;
}
.le-position-fixed {
  position: fixed !important;
}
.le-position-sticky {
  position: sticky;
}
.le-right-auto {
  right: auto !important;
}
.le-left-auto {
  left: auto !important;
}
.le-top-auto {
  top: auto !important;
}
.le-bottom-auto {
  bottom: auto !important;
}
