$le-shadow-sm: 0 0.1rem 1.25rem rgba(0, 0, 0, 0.075);
$le-shadow-md: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
$le-shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.30);

.le-shadow-none {
  box-shadow: none !important;
}
.le-shadow-sm {
  box-shadow: $le-shadow-sm !important;
}
.le-shadow-md {
  box-shadow: $le-shadow-md !important;
}
.le-shadow-lg {
  box-shadow: $le-shadow-lg !important;
}
