/* Width */
.le-wh-100 {
  width: 100vh !important;
}
.le-w-100 {
  width: 100% !important;
}
.le-w-90 {
  width: 90% !important;
}
.le-w-80 {
  width: 80% !important;
}
.le-w-70 {
  width: 70% !important;
}
.le-w-60 {
  width: 60% !important;
}
.le-w-50 {
  width: 50% !important;
}
.le-w-40 {
  width: 40% !important;
}
.le-w-35 {
  width: 35% !important;
}
.le-w-30 {
  width: 30% !important;
}
.le-w-25 {
  width: 25% !important;
}
.le-w-20 {
  width: 20% !important;
}
.le-w-15 {
  width: 15% !important;
}
.le-w-10 {
  width: 10% !important;
}
.le-w-auto {
  width: auto !important;
}
/* Height */
.le-vh-100 {
  height: 100vh !important;
}
.le-h-100 {
  height: 100% !important;
}
.le-h-90 {
  height: 90% !important;
}
.le-h-80 {
  height: 80% !important;
}
.le-h-70 {
  height: 70% !important;
}
.le-h-60 {
  height: 60% !important;
}
.le-h-50 {
  height: 50% !important;
}
.le-h-40 {
  height: 40% !important;
}
.le-h-30 {
  height: 30% !important;
}
.le-h-20 {
  height: 20% !important;
}
.le-h-15 {
  height: 15% !important;
}
.le-h-10 {
  height: 10% !important;
}
.le-h-auto {
  height: auto !important;
}
