.navbar {
    background-color: white;
}
.menu {
    background-color: white;
    width: auto;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: absolute;
    margin-left: 40px;
    margin-top: 55px;
}
