<div
    class="animated fadeIn le-vh-100 le-display-flex le-justify-content-center le-align-items-center le-flex-direction-column">
    <img src="assets/images/logo-sm-blue.png" alt="Softmedic logo" width="130">
    <img src="assets/images/medical-people.png" alt="Medical people" width="350" class="animated fadeIn my-4">
    <mat-progress-bar mode="determinate" color="primary" [value]="progress" class="le-w-20 mt-4"></mat-progress-bar>
    <span id="currentMessage" class="mt-2 animated">{{currentMessage}}</span>
</div>
<div class="footer">
    <img src="assets/images/logo-lesoft.png" alt="Lesoft logo">
</div>